body {
    background-color: rgb(131, 131, 131);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    width: 70%;
    height: 15em;
    background-color: rgb(52, 52, 52);
    border: 2px solid blue;
    border-radius: 2em;
    margin: 1em auto;
    max-width: 600px;
    overflow: scroll;
}

.likes {
    padding-top: 12em;
    padding-left: 6em;
}



.postText {
    border: 2px solid red;
    height: 100px;
}